@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Noto Sans CJK KR", Inter, system-ui, -apple-system, BlinkMacSystemFont, helvetica, Arial, sans-serif;
    }

    pre {
        font-family: "Source Han Mono K", monospace, monospace;
    }

    @font-face {
        font-family: 'Noto Sans CJK KR';
        font-style: normal;
        font-weight: 800;
        src: url("../fonts/NotoSans-Black.woff2") format('woff2');
    }
    @font-face {
        font-family: 'Noto Sans CJK KR';
        font-style: normal;
        font-weight: 700;
        src: url("../../assets/fonts/NotoSans-Bold.woff2") format('woff2');
    }
    @font-face {
        font-family: 'Noto Sans CJK KR';
        font-style: normal;
        font-weight: 500;
        src: url("../../assets/fonts/NotoSans-Medium.woff2") format("woff2");
    }
    @font-face {
        font-family: 'Noto Sans CJK KR';
        font-style: normal;
        font-weight: 400;
        src: url("../../assets/fonts/NotoSans-Regular.woff2") format("woff2");
    }
    @font-face {
        font-family: 'Noto Sans CJK KR';
        font-style: normal;
        font-weight: 300;
        src: url("../../assets/fonts/NotoSans-DemiLight.woff2") format("woff2");
    }
    @font-face {
        font-family: 'Noto Sans CJK KR';
        font-style: normal;
        font-weight: 200;
        src: url("../../assets/fonts/NotoSans-Light.woff2") format("woff2");
    }
    @font-face {
        font-family: 'Noto Sans CJK KR';
        font-style: normal;
        font-weight: 100;
        src: url("../../assets/fonts/NotoSans-Thin.woff2") format("woff2");
    }

    @font-face {
        font-family: 'Source Han Mono K';
        font-style: monospace, monospace;
        font-weight: 400;
        src: url("../../assets/fonts/SourceHanMonoK-Regular.woff2") format("woff2");
    }
}

@layer utilities {
    .header-shadow {
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06)
    }

    .visually-hidden { 
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }
}

