---
layout: default
title: About
---

<div class="flex flex-col md:flex-row lg:flex-row items-center justify-center text-md">
    {% if author.avatar %}
        <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">
            <img class="w-32 h-32 md:w-40 md:h-40 m-5" src="{{ author.avatar | url }}" width="128" height="128" alt="Author avatar">
        </a>
    {% endif %}

    <div class="text-center mt-8">
        <h1 class="text-xl font-semibold text-gray-800 leading-relaxed mt-0 mb-1">
            <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a>
        </h1>
        {% if author.email %}
        <div class="text-gray-600">
            <a href="mailto:{{ author.email }}">{{ author.email }}</a>
        </div>
        {% endif %}
        {% if author.phone %}
        <div class="text-gray-600">
            <a href="tel:{{ author.phone }}">{{ author.phone }}</a>
        </div>
        {% endif %}
        {% if author.bio %}
        <p class="mt-3 text-gray-700">{{ author.bio }}</p>
        {% endif %}
    </div>
</div>
<div class="flex flex-col mt-10">
    <p class="text-md"> Hi, this is my personal blog for sharing information and ideas in regard to open computing for everyone — such as computer science, programming, free and open source softwares, digital rights, freedom of information, etc. </p>
    <p class="text-md mt-5"> 안녕하세요. 컴퓨터공학, 프로그래밍, 오픈소스 소프트웨어, 디지털 권리, 정보의 자유를 비롯해 모두를 위한 열린 컴퓨팅과 관련된 다양한 정보와 아이디어를 공유하는 개인 블로그입니다. </p>
</div>

<!--
<div class="flex flex-col mt-10">
    <h2 class="text-xl font-bold">Lorem Ipsum</h2>
    <p class="text-md mt-3 px-3 border-l-4 border-gray-500">Lorem Ipsum</p>
</div>
<div class="flex flex-col mt-10">
    <h2 class="text-xl font-bold">Lorem Ipsum</h2>
    <p class="text-md mt-3 px-3 border-l-4 border-gray-500">Lorem Ipsum</p>
</div>
--> 